<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
  <title>悬赏分类</title>

  <link rel="stylesheet" href="/yuezhu_admin/public/static/dist/modules/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/yuezhu_admin/public/static/dist/modules/ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="/yuezhu_admin/public/static/dist/modules/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="/yuezhu_admin/public/static/dist/css/demo.css">
  <link rel="stylesheet" href="/yuezhu_admin/public/static/dist/css/style.css">
  <link rel="stylesheet" href="/yuezhu_admin/public/static/dist/css/alerts.css">
  <link rel="stylesheet" href="/yuezhu_admin/public/static/dist/css/loading.css">
  <link rel="stylesheet" href="/yuezhu_admin/public/static/dist/modules/summernote/summernote-lite.css">
  <link rel="stylesheet" href="/yuezhu_admin/public/static/dist/modules/flag-icon-css/css/flag-icon.min.css">
  <style>
      .pagination .active{
        background-color: #574B90;
        color: #ffffff;
      }
      #tableData .detail{
          margin-right: 5px;
      }
  </style>
</head>

<body>
  <div id="app">
    <div class="main-wrapper">
      <!-- 头部导航 -->
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <form class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="ion ion-navicon-round"></i></a></li>
            <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="ion ion-search"></i></a></li>
          </ul>
          <div class="search-element">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            <button class="btn" type="submit"><i class="ion ion-search"></i></button>
          </div>
        </form>
        <ul class="navbar-nav navbar-right">
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg">
            <i class="ion ion-android-person d-lg-none"></i>
            <div class="d-sm-none d-lg-inline-block">Hi, admin</div></a>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="../login/login" class="dropdown-item has-icon">
                <i class="ion ion-log-out"></i> 注销
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <!-- 头部导航 -->

      <!-- 左侧菜单 -->
      <div class="main-sidebar">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="../console/console">悦助后台管理系统</a>
          </div>
          <div class="sidebar-user">
            <div class="sidebar-user-picture">
              <img alt="image" src="/yuezhu_admin/public/static/dist/img/avatar/avatar-1.jpeg">
            </div>
            <div class="sidebar-user-details">
              <div class="user-name">admin</div>
              <div class="user-role">
                管理员
              </div>
            </div>
          </div>
          <ul class="sidebar-menu">
            <li class="menu-header">菜单栏</li>
            <li>
              <a href="../console/console"><i class="ion ion-speedometer"></i><span>控制台</span></a>
            </li>
            <li>
              <a href="../user/userManagement"><i class="ion ion-ios-people"></i><span>用户管理</span></a>
            </li>
            <li>
              <a href="../reward/rewardManagement"><i class="ion ion-ios-list"></i><span>悬赏管理</span></a>
            </li>
            <li class="active">
                <a href="#" class="has-dropdown"><i class="ion ion-ios-gear"></i><span>系统设置</span></a>
                <ul class="menu-dropdown">
                  <li><a href="../system/SystemParam"><i class="ion ion-ios-paper-outline"></i> 参数设置</a></li>
                  <li class="active"><a href="../system/SystemRewardClass"><i class="ion ion-ios-list-outline"></i> 悬赏分类</a></li>
                  <li><a href="../system/SystemSearchLabel"><i class="ion ion-ios-pricetags-outline"></i> 搜索标签</a></li>
                  <li><a href="../system/SystemIndexBanner"><i class="ion ion-images"></i> 首页轮播</a></li>
                </ul>
            </li>
          </ul>
          <div class="p-3 mt-4 mb-4">
            <a href="../login/login" class="btn btn-danger btn-shadow btn-round has-icon has-icon-nofloat btn-block">
              <i class="ion ion-help-buoy"></i> <div>注销</div>
            </a>
          </div>
        </aside>
      </div>
      <!-- 左侧菜单 -->

      <!-- 主体内容 -->
      <div class="main-content">
        <section class="section">
            <h1 class="section-header">
                <div>悬赏分类</div>
            </h1>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                        <div class="float-right">
                            <a id="createNewClass" class="btn btn-primary" style="color: #ffffff;">新增分类</a>
                        </div>
                        <h4>分类列表</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>分类名称</th>
                                            <th>分类描述</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tableData">
                                        
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <nav class="d-inline-block">
                                <ul class="pagination mb-0" id="pageContainer">
                                    
                                </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </section>
      </div>
      <!-- 主体内容 -->

      <!-- 弹窗 -->
      <div class="popup-container" id="popupContainer">
        <div class="popup-main">
            <div class="popup-content">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>新增分类</h4>
                            <div class="popup-close" id="closePopup"><i class="ion ion-close-round"></i></div>
                        </div>
                        <div class="card-body">
                            <div class="card-line">
                                <div class="line-left">分类名称：</div>
                                <div class="line-right" id="userName">
                                    <input type="text" class="form-control" id="classValue" placeholder="请输入悬赏分类名称">
                                </div>
                            </div>
                            <div class="card-line">
                                <div class="line-left">分类描述：</div>
                                <div class="line-right">
                                    <textarea style="resize: none;" id="classDescribe" class="form-control" placeholder="请输入悬赏分类的描述" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="card-line" style="justify-content: center;">
                                <a id="addClass" class="btn btn-primary" style="color: #ffffff;">提 交</a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <!-- 弹窗 -->

      <!-- 确认弹窗 -->
      <div class="popup-container" id="confirmPopup">
        <div class="popup-mask"></div>
        <div class="popup-main">
            <div class="popup-content popup-confirm">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>提示</h4>
                                <div class="popup-close" id="closeDelPopup"><i class="ion ion-close-round"></i></div>
                            </div>
                            <div class="card-body">
                                <div class="delete-content">是否确认删除？删除后数据将无法恢复。</div>
                                <div class="delete-buttons">
                                    <a id="cancelDel" class="btn btn-sm">取消</a>
                                    <a data-id="" id="confirmDel" class="btn btn-sm btn-primary">确认</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <!-- 确认弹窗 -->


      <!-- 加载动画 -->
      <div class="loading-container" id="loading">
        <div class="loading-mask"></div>
        <div class="loading-main">
            <div class="loading-content">
                <div class="loading-icon">
                    <i class="ion ion-load-c"></i>
                </div>
                <div class="loading-text">加载中...</div>
            </div>
        </div>
      </div>
      <!-- 加载动画 -->
    </div>
  </div>

  <script src="/yuezhu_admin/public/static/dist/modules/jquery.min.js"></script>
  <script src="/yuezhu_admin/public/static/dist/modules/popper.js"></script>
  <script src="/yuezhu_admin/public/static/dist/modules/tooltip.js"></script>
  <script src="/yuezhu_admin/public/static/dist/modules/bootstrap/js/bootstrap.min.js"></script>
  <script src="/yuezhu_admin/public/static/dist/modules/nicescroll/jquery.nicescroll.min.js"></script>
  <script src="/yuezhu_admin/public/static/dist/modules/scroll-up-bar/dist/scroll-up-bar.min.js"></script>
  <script src="/yuezhu_admin/public/static/dist/js/sa-functions.js"></script>
  <script src="/yuezhu_admin/public/static/dist/modules/chart.min.js"></script>
  <script src="/yuezhu_admin/public/static/dist/modules/summernote/summernote-lite.js"></script>
  <script src="/yuezhu_admin/public/static/dist/js/scripts.js"></script>
  <script src="/yuezhu_admin/public/static/dist/js/custom.js"></script>
  <script src="/yuezhu_admin/public/static/dist/js/demo.js"></script>
  <script src="/yuezhu_admin/public/static/dist/js/alerts.js"></script>
  <script>
    var classList = []; //分类列表数据

    getClassData();

    //新增分类点击事件
    $("#createNewClass").click(function(){
        $("#classValue").val("");
        $("#classDescribe").val("");

        $("#popupContainer").show();
    })

    //新增分类提交按钮点击事件
    $("#addClass").click(function(){
        var value = $("#classValue").val();
        var describe = $("#classDescribe").val();

        if(value.length==0){
            alerts.show({
                type: 'warning',
                title: "提示",
                content: "分类名称不能为空",
                direction: 2000
            })
            return false;
        }
        if(describe.length==0){
            alerts.show({
                type: 'warning',
                title: "提示",
                content: "分类描述不能为空",
                direction: 2000
            })
            return false;
        }

        $("#loading").show();
        $.ajax({
            url: "addRewardClass",
            type: "POST",
            data: {
                value: value,
                describe: describe
            },
            complete: function(){
                $("#loading").hide();
                $("#popupContainer").hide();
            },
            success: function(res){
                //console.log(res);
                if(res.code=='0'){
                    getClassData();
                }else{
                    alerts.show({
                        type: 'warning',
                        title: "提示",
                        content: res.msg,
                        direction: 2000
                    })
                }
            },
            error: function(){
                alert("系统异常");
            }
        })
    });

    //搜索点击事件
    $("#searchUser").click(function(){
        searchValue = $("#searchValue").val();
        console.log(searchValue);
        getUserData();
    })

    //关闭弹窗点击事件
    $("#closePopup").click(function(){
        $("#popupContainer").hide();
    })

    //删除按钮点击事件
    $(document).on("click","#tableData .delete",function(){
        var id = $(this).attr("data-id");
        $("#confirmDel").attr("data-id",id);
        $("#confirmPopup").show();
    })

    //确认弹窗关闭按钮
    $("#closeDelPopup").click(function(){
        $("#confirmPopup").hide();
    })

    //确认弹窗取消按钮
    $("#cancelDel").click(function(){
        $("#confirmPopup").hide();
    })
    
    //确认弹窗确认按钮
    $("#confirmDel").click(function(){
        var id = $(this).attr("data-id");
        $("#confirmPopup").hide();
        $("#loading").show();
        $.ajax({
            url: "deleteClass",
            type: "POST",
            data: {
                id: id
            },
            complete: function(){
                $("#loading").hide();
            },
            success: function(res){
                console.log(res);
                if(res.code=='0'){
                    getClassData();
                }else{
                    alerts.show({
                        type: 'warning',
                        title: "提示",
                        content: res.msg,
                        direction: 2000
                    })
                }
            },
            error: function(){
                alert("系统异常");
            }
        })

    })

    function getClassData(){ //获取数据
        $("#loading").show();


        $.ajax({
            url: "getClassData",
            type: "POST",
            complete: function(){
                $("#loading").hide();
            },
            success: function(res){
                console.log(res);
                if(res.code=='0'){
                    classList = res.data;
                    setTableData(res.data);
                }else{
                    alerts.show({
                        type: 'warning',
                        title: "提示",
                        content: res.msg,
                        direction: 2000
                    })
                }
            },
            error: function(){
                alert("系统异常");
            }
        })
    }

    function setTableData(data){ //设置表格
        $("#tableData").empty();

        for(var i=0;i<data.length;i++){
            var line = `<tr>
                            <td>${i+1}</td>
                            <td>${data[i].value}</td>
                            <td>${data[i].describe}</td>
                            <td>
                                <a data-id="${data[i].id}" class="delete btn btn-action btn-secondary btn-danger">删除</a>
                            </td>
                        </tr>`;
            $("#tableData").append(line);
        }

    }

  </script>
</body>
</html>